@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-white font-primary relative;
}

.scrolling-text {
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer components {
  .nav-item {
    @apply uppercase font-secondary text-[1.5rem] text-white font-[700] cursor-pointer hover:text-primary;
  }

  .primary-btn {
    @apply text-[15px] font-[700] px-[6rem] py-[0.6rem] bg-primary border border-white relative;
  }

  .primary-btn::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -5px;
    right: -5px;
  }
  .primary-btn::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    bottom: -5px;
    left: -5px;
  }
}