@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-white font-primary;
}

.scrolling-text {
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer components {
  .nav-item {
    @apply uppercase font-secondary text-[1.5rem] text-white font-[700] cursor-pointer hover:text-primary;
  }
}